MONGODB_URI=
DATABASE_URL=
CLERK_PUBLISHABLE_KEY=pk_test_xxxxx
CLERK_SECRET_KEY=sk_test_xxxxx
CLERK_WEBHOOK_SECRET=whsec_xxxxx
ADMIN_EMAIL=admin@nitjsr.ac.in
ALLOWED_DOMAIN=nitjsr.ac.in
CLIENT_URL=http://localhost:5173
SOURCE_URI=mongodb+srv://
TARGET_URI=mongodb+srv://
